@import "tailwindcss";

:root {
  --primary-color: #000044;
  --secondary-color: #E78F73;
  --tertiary-color: #F8D1C5;
  --accent-color: #f2f2f7;
  --font-color: #c2c2c0;
  --warn-color: #ff3b30;
  --success-color: #4cd964;  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-century: "Century Gothic", "Century", sans-serif; /* Add Century font */
}

body {  
  background: var(--primary-color);
  color: var(--tertiary-color);
  font-family: var(--font-century); /* Use Century font */
}

h1{
  font-size: 2rem;
  font-weight: bold;
  color: var(--tertiary-color);
}

h2{
  font-size: 1rem;
  font-weight: bold;
  color: var(--tertiary-color);
}

h3{
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--tertiary-color);
  padding-top:0.25rem;
  padding-bottom: 0.25rem;
}

p{
  font-size: 0.8rem;
  color: var(--secondary-color);
  padding-top:0.5rem;
  padding-bottom:0.5rem;
}

/* BUTTONS ---------------------------------------------------------------*/

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem; /* Default border-radius */
}

.button-primary {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.button-primary:hover {
  background-color: var(--tertiary-color);
}

.button-secondary {
  background-color: transparent;
  color: var(--tertiary-color);
  border: 1px solid var(--tertiary-color);
}

.button-secondary:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}



/* HEADER ---------------------------------------------------------*/

header{
  background-color: var(--primary-color);
}

.header-links{
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--secondary-color);
  text-align: center;
  padding:0.5rem;
}

.header-links:hover{
  color: var(--tertiary-color);
}

.header-links:active{
  color: var(--tertiary-color);
}

.header-button{
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 0.5rem; /* Default border-radius */
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-align: center;
}

.header-button:hover{
  background-color: var(--tertiary-color);
}

.hero-text{
  font-size: 3rem;
  font-weight: bold;
  color: var(--tertiary-color);
  text-align: center;
  padding: 0.5rem;
  text-shadow: #c2c2c0 0px 0px 5px;
  text-decoration-color: var(--secondary-color);
}

/* FOOTER ------------------------------------------------------*/

footer{
  background-color: var(--primary-color);
  color: var(--tertiary-color);  
}

.footer-links{
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--secondary-color);
  text-align: center;
}